.image-slider{
    /*text-align: left;*/
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.image-slider .images-container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-slider img,
.image-slider .img{
    position: absolute;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity:0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    left: 0;
    top: 0;
}

.image-slider img.active,
.image-slider .img.active{
    opacity:1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
}

.slider-prev-button,
.slider-next-button
{
    width: 35px;
    height: 100%;
    background: rgba(0, 0, 0, .3) no-repeat center;
    position: absolute;
    cursor: pointer;
}

.slider-prev-button{
    left: 0;
    background-image: url("../../images/image-slider-arrow-left.png");
}

.slider-next-button{
    right: 0;
    background-image: url("../../images/image-slider-arrow-right.png");
}

#zoomLayout{
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10009;
}
#zoomLayout.hidden{
    display: none;
}

#zoomLayout .content-wrapper{
    /*border: 1px solid #ffffff;*/
    padding: 50px;
    /*width: 100%;*/
    /*height: 100%;*/

    /*width: 1200px;*/
    /*height: 1000px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*margin-top: -500px;*/
    /*left: 50%;*/
    /*margin-left: -600px;*/

    text-align: center;
    width: 100%;
    height: 100%;
}

#zoomLayout .img{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border:none;
}

#zoomLayout .image-slider{
    display: inline-block;
    min-width: 600px;
    min-height: 500px;

}