.blog-details-content{
    text-align: center;
}


.blog-details-content .site-content-title {
    display: inline-block;
    border: 1px solid #e5e5e5;
    margin-top: 45px;
    font-family: 'Oranienbaum', serif;
    max-width: 550px;
}

.blog-details-content .site-content-title .caption-wrapper {
    margin-top: -10px;
}

.blog-details-content .site-content-title .caption-wrapper .caption {
    display: inline-block;
    background-color: #ffffff;
    margin-bottom: -10px;
    font-size: 15px;
    padding: 0 16px;
}


.blog-details-content .site-content-title .title{
    font-size: 32px;
    color: #313131;
    margin: 30px 70px 30px;
}


.blog-details-content .site-content-title .date-wrapper
{
    margin-bottom: -10px;
    /*margin-top: 30px;*/

}

.blog-details-content .site-content-title .date-wrapper .date{
    display: inline-block;
    background-color: #ffffff;
    margin-top: -10px;
    font-size: 14px;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}




.blog-details-info{
    margin-top: 50px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 80px;
}

.blog-details-info .description{
    width: 500px;
    position: relative;
    margin: 0 auto;
    background-color: #fafafa;
    padding: 30px;
    font-style: italic;
    font-family: 'Lato', sans-serif;
}

.blog-details-info .text{
    position: relative;
    margin: 50px 90px 0 90px;
    font-weight: 300;
    font-size: 15px;
    color: #555555;
    line-height: 27px;
}