.country-selector-wrapper {
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 17px;
    margin-top: 30px;
}

.country-selector-wrapper .select-country-text {
    height: 45px;
    display: inline-block;
    color: #276c9f;
    padding-right: 10px;
    padding-top: 9px;
}

.isMobile .country-selector-wrapper{
    margin-top: 0;
    padding-top: 100px;
}

.isMobile  .country-selector-wrapper .select-country-text{
    display: block;
    font-size: 20px;
    padding-bottom: 10px;
}




.country-selector{
    /*width: 180px;*/
}

.isMobile .country-selector{
    /*width: 240px;*/
}
.country-selector .drop-down-list-head,
.country-selector .item
{
    background-color:#276c9f;
    color: #ffffff;
}

.country-selector .drop-down-list-items .item.selected{
    color: #6dcff6;
}

.country-selector .drop-down-list-items .item:hover {
    background-color: #4c88b1;
}

.country-selector .drop-down-list-head .triangle{
    border-top-color: #ffffff;
}


.isMobile .country-selector .drop-down-list-head{
    font-size: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.education-category-selector{
    margin-top: 28px;
}
.education-category-selector .drop-down-list-head,
.education-category-selector .item
{
    background-color:#ffffff;
    color: #f7941d;
    border: 2px solid #f7941d;
    font-size: 18px;
    font-weight: 500;
}

.education-category-selector .drop-down-list-head{
    padding-top: 18px;
    padding-bottom: 18px;
    line-height: 28px;
}

.education-category-selector .triangle{
    border-top-color: #f7941d;
}


.age-group-mobile-selector{
    vertical-align: top;
}

.age-group-mobile-selector .drop-down-list-head,
.age-group-mobile-selector .item
{
    background-color:#ffffff;
    color: #f7941d;
    border: 2px solid #f7941d;
    font-size: 18px;
    font-weight: 500;
}

.age-group-mobile-selector .drop-down-list-head{
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 28px;
}

.age-group-mobile-selector .triangle{
    border-top-color: #f7941d;
}




.age-group-selector-wrapper{
    text-align: center;
    margin-top: -20px;
}

.isMobile .age-group-selector-wrapper{
    margin-top: 50px;
}

.age-group-selector{
    /*margin-left: -100px;*/

}

.age-group-selector .drop-down-list-head{
    border: 1px solid #ff8713;
}

.age-group-selector .drop-down-list-head .splitter{
    border-right: 2px solid #ff8713;
}

.age-group-selector .drop-down-list-head{
    padding-right: 47px;
}


.age-group-selector .drop-down-list-head,
.age-group-selector .item
{
    background-color:#ff9634;
    color: #ffffff;
}

.age-group-selector .drop-down-list-items .item.selected{
    color: #cb6200;
}

.age-group-selector .drop-down-list-items .item:hover {
    background-color: #ffbc66;
}

.age-group-selector .drop-down-list-head .triangle{
    border-top-color: #ffffff;
}

/*.age-group-selector-wrapper .age-group-selector {*/
    /*background-color: #ff9634;*/
    /*color: #ffffff;*/
    /*-webkit-border-radius: 6px;*/
    /*-moz-border-radius: 6px;*/
    /*border-radius: 6px;*/
    /*padding: 10px 40px 10px 25px;*/
    /*position: relative;*/
    /*margin-right: 50px;*/
    /*display: inline-block;*/
/*}*/

/*.age-group-selector-wrapper .age-group-selector .triangle {*/
    /*width: 6px;*/
    /*height: 6px;*/
    /*border: 6px solid transparent;*/
    /*border-top-color: #ffffff;*/
    /*position: absolute;*/
    /*top: 20px;*/
    /*right: 15px;*/
/*}*/






.education-category-menu {
    height: 80px;
    border-top: 1px solid #f26522;
    border-bottom: 1px solid #f26522;
    margin-top: 25px;
    text-align: center;
}

.education-category-menu ul li {
    display: inline-block;
    list-style: none;
    text-align: center;
    vertical-align: top;
    margin: 23px 50px 0;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
}

.education-category-menu ul li a {
    text-decoration: none;
}

.education-category-menu ul li a.title {
    color: #f26522;
    display: block;
    text-decoration: underline;
}

.education-category-menu ul li .age {

    color: #7d7d7d;
    display: block;
}

.education-category-menu ul li.active,
.education-category-menu ul li.active .age {
    color: #c2c2c2;
    letter-spacing: 1px;
}

.category-content-title {
    font-family: 'Oranienbaum', serif;
    font-size: 43px;
    text-align: center;
    margin-top: 50px;
    color: #464646;
}

.isMobile .category-content-title{
    margin-top: 35px;
    font-size: 70px;
    line-height: 65px;
}

.select-group {
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 12px;
    color: #464646;
    text-align: center;
    margin-top: 35px;
    letter-spacing: 1px;
}

.isMobile .select-group{
    color: #ff9634;
    display: inline-block;
    font-size: 16px;
    width: 150px;
    font-weight: bold;
    text-align: right;
    margin-right: 20px;
    margin-top: 0;
}

.category-content-wrapper{
    border: 1px solid #d8d8d8;

    margin: 30px 90px;

    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.category-content-inner-wrapper{
    margin-top: 70px;
}

.category-content-inner-wrapper .image-container{
    float: left;
    width: 460px;
    height: 500px;
    margin-top: 20px;
    margin-left: -40px;
}

.category-content-inner-wrapper .text-container{
    margin-left: 470px;
    margin-right: 100px;
    margin-bottom: 70px;
}


.education-kinds-selectors-container{
    background: url("../../images/education-kinds-selectors-container-bg.png") no-repeat;
    background-size: cover;
    height: 365px;
    position: relative;
    text-align: center;
}

.education-kinds-selectors-container .country-selector-mobile-wrapper{

}

.category-content-text{
    padding: 40px;
    font-size: 27px;
    color: #3c3c3c;
    line-height: 38px;
}