.page{
    position: relative;
    margin: 0 auto;
    width: 1000px;



    /*font-family: 'Roboto', sans-serif;  300  Roboto Light  */

    /*font-family: 'Roboto', sans-serif;  400 Roboto */

    /*font-family: 'Oranienbaum', serif;*/
}


