.header-top-line {
    height: 31px;
    width: 100%;
    position: absolute;
    top: 0;
}

.main-page .header-top-line {
    background-color: rgba(0, 0, 0, .25);
}

.blog-link {
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    padding-left: 22px;
    background: url("../../images/logo-mini.png") no-repeat left;
    color: #ffffff;
    margin-top: 7px;
    height: 16px;
    padding-top: 2px;

}

.socials {
    position: absolute;
    left: 50%;
    margin-left: 60px;
    margin-top: 8px;
}

.socials .google,
.socials .fb,
.socials .instagram{
    float: left;
}

.socials a{
    height: 15px;
    margin-left: 17px;
    display: block;
}

.socials .google a {
    width: 11px;
    background: url("../../images/social-google.png") no-repeat;
}

.socials .fb a {
    width: 16px;
    background: url("../../images/social-fb.png") no-repeat;
}

.socials .instagram a {
    width: 16px;
    background: url("../../images/social-instagram.png") no-repeat;
}

.search-input{
    position: absolute;
    left: 50%;
    margin-left: 400px;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.3) url("../../images/search-zoom.png") no-repeat 4px center;
    padding: 2px 5px 2px 25px ;

    margin-top: 7px;
    color: #e5e5e5;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #e5e5e5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e5e5e5;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e5e5e5;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    #e5e5e5;
}